.tui-grid-container {
  font-size: 1.2rem;
  font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;

  // font
  p,
  input,
  textarea {
    font-size: 1.2rem;
    font-family: "Noto Sans KR", sans-serif, "맑은고딕", "malgun gothic", "AppleGothic", "돋움", "dotum", Helvetica, Arial;
  }

  .tui-grid-border-line-top {
    border-color: map-get($colors, "black");
  }

  // text editor
  .tui-grid-cell-content input[type='text'], .tui-grid-cell-content input[type='password'] {
    padding: 1px 2px 2px 2px;
  }

  // select editor
  .tui-grid-editor-select-box-layer > .tui-select-box {
    top: -3px;
  }
  .tui-select-box-input, .tui-select-box-item-group-label, .tui-select-box-item {
    height: 25px;
    font-size: 12px;
  }
  .tui-select-box-placeholder, .tui-select-box-item-group-label, .tui-select-box-item {
    line-height: 25px;
  }

  // header checkbox cell
  .tui-grid-row-header-checkbox {
    @include flex-center;
  }

  // .tui-grid-rside-area {
  //   width: auto !important;
  // }

  // checkbox
  // .tui-grid-cell-row-header > span, // grid header checkbox
  // .tui-grid-row-header-checkbox { // grid body checkbox
  //   @include flex-center
  // }
}